In [1]:
# SAMPLE DATA
import seaborn as sns
data_tips = sns.load_dataset('tips')

from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Learning_Spark") \
    .getOrCreate()

df = spark.createDataFrame(data_tips)

In [4]:
df.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [5]:
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: long (nullable = true)

# 쿼리용 테이블 생성

쿼리에서 테이블명으로 활용 가능

In [38]:
# Session과 함께 유지됨
df.createOrReplaceTempView('tips')

In [ ]:
# createOrReplaceGlobalTempView는 Application에 유지됨

# 기본 쿼리

In [42]:
query = '''
    SELECT sex, COUNT(*) as cnt
    FROM tips
    GROUP BY sex
'''

spark.sql(query).show()

+------+---+
|   sex|cnt|
+------+---+
|Female| 87|
|  Male|157|
+------+---+

# WINDOW FUNCTION